<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-15" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>expatriates.com - the online community for expatriates</title>
  </head>
  <body class="bg-darker">
    <%= require('html-loader!../partials/header.html') %>
    <!-- MAIN CONTENT start -->
    <div class="main_content">
      <!-- PLACE AN AD TOP start -->
      <div class="page_section place_ad__hero">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-5 col-md-4">
              <!-- PLACE AN AD TITLE start -->
              <div class="place_ad_title">
                <span class="icon-rounded bg-default">
                  <i class="exp-icon-noun_594741_cc"></i>
                </span>
                Place A Free Ad
              </div>
              <!-- PLACE AN AD TITLE end -->
            </div>
            <div class="col-sm-7 col-md-8">
              <div class="steps_list__ordered">
                <ul>
                  <li class="active">
                    <a href="#">1</a>
                  </li>
                  <li>
                    <a href="#">2</a>
                  </li>
                  <li>
                    <a href="#">3</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PLACE AN AD TOP ends -->
      <div class="page_section select_category">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="white_box__title">Please Select a Sub-category</h3>
            </div>
          </div>
          <!-- CATEGORIES  -->
          <div class="row">
            <div class="col-md-12">
              <!-- ONE CAT -->
              <div class="white_box category_box sub">
                <div class="box_header">
                  <a class="back_btn" href="#"
                    >Items For Sale<i class="exp-icon-left"></i
                  ></a>
                </div>
                <!-- CAT INNER -->
                <div class="box_content">
                  <div class="row">
                    <div class="col-sm-6 col-md-3">
                      <ul class="data-ul">
                        <li><a href="#">Appliances</a></li>
                        <li><a href="#">Auto Parts</a></li>
                        <li><a href="#">Baby/Kid Stuff</a></li>
                        <li><a href="#">Bicycles</a></li>
                        <li><a href="#">Boats</a></li>
                        <li><a href="#">Books</a></li>
                        <li><a href="#">Clothing & Accessories</a></li>
                        <li><a href="#">Collectibles</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <ul class="data-ul">
                        <li><a href="#">Computers</a></li>
                        <li><a href="#">Electronics</a></li>
                        <li><a href="#">Free Items</a></li>
                        <li><a href="#">Furniture</a></li>
                        <li><a href="#">Health/Beauty</a></li>
                        <li><a href="#">Household Items</a></li>
                        <li><a href="#">Jewelry</a></li>
                        <li><a href="#">Materials</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <ul class="data-ul">
                        <li><a href="#">Mobile Phones</a></li>
                        <li><a href="#">Motorcycles</a></li>
                        <li><a href="#">Musical Instruments</a></li>
                        <li><a href="#">Photo/Video</a></li>
                        <li><a href="#">Purses & Wallets</a></li>
                        <li><a href="#">Sporting Goods</a></li>
                        <li><a href="#">Tablets</a></li>
                        <li><a href="#">Tickets</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                      <ul class="data-ul">
                        <li><a href="#">Tools</a></li>
                        <li><a href="#">Toys/Games</a></li>
                        <li><a href="#">Vehicles</a></li>
                        <li><a href="#">Video Games</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MAIN CONTENT end -->
    <%= require('html-loader!../partials/footer.html') %>
  </body>
</html>
