<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-15" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Premium / Expatriates</title>
  </head>
  <body class="bg-darker">
    <%= require('html-loader!../partials/header.html') %>
    <!-- MAIN CONTENT start -->
    <div class="main_content">
      <!-- PLACE AN AD TOP start -->
      <div class="page_hero place_ad__hero">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-5 col-md-4">
              <!-- PLACE AN AD TITLE start -->
              <div class="place_ad_title">
                <span class="icon-rounded bg-default">
                  <i class="exp-icon-noun_594741_cc"></i>
                </span>
                Place A Free Ad
              </div>
              <!-- PLACE AN AD TITLE end -->
            </div>
            <div class="col-sm-7 col-md-8">
              <div class="steps_list__ordered">
                <ul>
                  <li class="active">
                    <a href="#">1</a>
                  </li>
                  <li class="active">
                    <a href="#">2</a>
                  </li>
                  <li>
                    <a href="#">3</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PLACE AN AD TOP ends -->
      <div class="page_section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="white_box">
                <div class="box_header">
                  <div class="row">
                    <div class="col-xs-12">
                      <a class="back_btn" href="#"
                        >Auto Parts<i class="exp-icon-left"></i
                      ></a>
                    </div>
                  </div>
                </div>
                <div class="box_content">
                  <div class="row">
                    <div class="col-xs-12">
                      <!-- CHOOSE LOCATION start-->
                      <div class="choose_location">
                        <div class="box_content__header has-icon-top border-0">
                          <div>
                            <i class="exp-icon-noun_779132_cc"></i>
                          </div>
                          <div>
                            Choose Location
                          </div>
                        </div>
                        <div class="box_content__inner">
                          <form id="place_ad_location-form">
                            <div class="form-group required">
                              <label for="pCity">Posting City</label>
                              <p class="help-block">
                                For maximum exposure, we recommend you place
                                your ad in the city nearest you as the ad will
                                also automatically appear in the corresponding
                                country and the International section
                              </p>
                              <input
                                id="pCity"
                                name="pCity"
                                class="form-control"
                                type="text"
                              />
                            </div>
                            <div class="form-group">
                              <label for="otherLocations"
                                >Other Locations</label
                              >
                              <p class="help-block">
                                If you wish to provide more specific information
                                about the location, please enter it here
                              </p>
                              <input
                                id="otherLocations"
                                name="otherLocations"
                                class="form-control"
                                type="text"
                              />
                            </div>
                            <div class="form-group actions-group">
                              <button class="btn btn-block btn-primary">
                                Next
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                      <!-- CHOOSE LOCATION ends-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MAIN CONTENT end -->
    <%= require('html-loader!../partials/footer.html') %>
  </body>
</html>
