<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-15" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Premium / Expatriates</title>
  </head>
  <body>
    <%= require('html-loader!../partials/header.html') %>
    <!-- MAIN CONTENT start -->
    <div class="main_content bg-darker">
      <!-- PLACE AN AD TOP start -->
      <div class="page_section place_ad__hero">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-5 col-md-4">
              <!-- PLACE AN AD TITLE start -->
              <div class="place_ad_title">
                <span class="img-circle bg-default icon-rounded">
                  <i class="exp-icon-noun_594741_cc"></i>
                </span>
                Place A Free Ad
              </div>
              <!-- PLACE AN AD TITLE end -->
            </div>
            <div class="col-sm-7 col-md-8">
              <div class="steps_list__ordered">
                <ul>
                  <li class="active">
                    <a href="#">1</a>
                  </li>
                  <li class="active">
                    <a href="#">2</a>
                  </li>
                  <li class="active">
                    <a href="#">3</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- PLACE AN AD TOP ends -->
      <div class="page_section">
        <div class="container-fluid">
          <!-- CATEGORIES  -->
          <div class="row">
            <div class="col-md-12">
              <div class="categories_wrap">
                <div class="white_box">
                  <div class="box_header">
                    <a href="#" class="back_btn">
                      Auto Parts, Bucharest<i class="exp-icon-left"></i>
                    </a>
                  </div>
                  <div class="box_content">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="box_content__header has-icon-top border-0">
                          <div>
                            <i class="exp-icon-noun_50668_cc"></i>
                          </div>
                          <div>
                            Provide Ad Details
                          </div>
                        </div>
                        <div class="box_content__inner">
                          <form id="place_ad_details-form">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="form-group required">
                                  <label for="pTitle">Posting Title</label>
                                  <p class="help-block">
                                    Please briefly describe the ad. Do not use
                                    all capital letters.
                                  </p>
                                  <input
                                    id="pTitle"
                                    name="pTitle"
                                    class="form-control"
                                    type="text"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-6">
                                <div class="form-group">
                                  <label for="pPrice">Price</label>
                                  <input
                                    class="form-control"
                                    type="text"
                                    id="pPrice"
                                    name="pPrice"
                                  />
                                </div>
                              </div>
                              <div class="col-xs-6">
                                <div class="form-group">
                                  <label for="pCurrency">Currency</label>
                                  <select
                                    class="form-control"
                                    name="pCurrency"
                                    id="pCurrency"
                                    style="width: 100%;"
                                  >
                                    <option value="eur">EUR</option>
                                    <option value="usd">USD</option>
                                    <option value="amd">AMD</option>
                                    <option value="rub">RUB</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="form-group">
                                  <label for="contactNumber"
                                    >Contact Number</label
                                  >
                                  <p class="help-block">
                                    Please provide a contact phone number to be
                                    displayed in your published ad.
                                  </p>
                                  <input
                                    id="contactNumber"
                                    name="contactNumber"
                                    class="form-control"
                                    type="text"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="form-group imgs-upload">
                                  <label>Upload Pictures (up to 8)</label>
                                  <p class="help-block">
                                    Please limit each file to a maximize size of
                                    100K bytes
                                  </p>
                                  <ul class="ad_pictures columns-sm-2">
                                    <li>
                                      <a href="#">
                                        <div
                                          class="image_uploaded"
                                          style="background-image: url(/images/car1.jpg);"
                                        >
                                          <img
                                            class="img-responsive"
                                            src="/images/car1.jpg"
                                            alt=""
                                          />
                                        </div>
                                      </a>
                                      <button type="button" class="remove_btn">
                                        <i class="exp-icon-noun_40408_cc"></i>
                                      </button>
                                    </li>
                                    <li>
                                      <a href="#">
                                        <div
                                          class="image_uploaded"
                                          style="background-image: url(/images/car1.jpg);"
                                        >
                                          <img
                                            class="img-responsive"
                                            src="/images/car1.jpg"
                                            alt=""
                                          />
                                        </div>
                                      </a>
                                      <button type="button" class="remove_btn">
                                        <i class="exp-icon-noun_40408_cc"></i>
                                      </button>
                                    </li>
                                    <li>
                                      <a href="#">
                                        <div
                                          class="image_uploaded"
                                          style="background-image: url(/images/car1.jpg);"
                                        >
                                          <img
                                            class="img-responsive"
                                            src="/images/car1.jpg"
                                            alt=""
                                          />
                                        </div>
                                      </a>
                                      <button type="button" class="remove_btn">
                                        <i class="exp-icon-noun_40408_cc"></i>
                                      </button>
                                    </li>
                                    <li>
                                      <label class="no_image">
                                        <input type="file" />
                                        <span class="centered">
                                          <span>
                                            <i
                                              class="exp-icon-noun_752662_cc"
                                            ></i>
                                          </span>
                                          <span>Add a new Picture</span>
                                        </span>
                                      </label>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="form-group">
                                  <label for="emailAddress"
                                    >Email Address*</label
                                  >
                                  <input
                                    id="emailAddress"
                                    name="emailAddress"
                                    class="form-control"
                                    type="text"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="form-group">
                                  <label>Email Privacy</label>
                                  <p class="help-block">
                                    Please indicate whether the email specified
                                    above should be displayed in your published
                                    ad.
                                  </p>
                                  <div class="radio_rows">
                                    <div class="radio_row">
                                      <input
                                        type="radio"
                                        id="not_display"
                                        name="email_privacy"
                                        checked
                                      />
                                      <label for="not_display"
                                        >Do Not Display E-mail My Address
                                        <span class="help-block"
                                          >Be sure to provide a phone number or
                                          other contact information in the
                                          description</span
                                        ></label
                                      >
                                    </div>
                                    <div class="radio_row">
                                      <input
                                        type="radio"
                                        id="display"
                                        name="email_privacy"
                                      />
                                      <label for="display"
                                        >Display E-mail My Address</label
                                      >
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="form-group actions-group border-t">
                                  <button
                                    class="btn btn-block btn-primary btn-with-icon icon-on-right"
                                  >
                                    Publish
                                    <i class="exp-icon-noun_221757_cc"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MAIN CONTENT end -->
    </div>
    <%= require('html-loader!../partials/footer.html') %>
  </body>
</html>
