<!DOCTYPE html>
<html>

<head>

	<meta charset="ISO-8859-15">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>expatriates.com - the online community for expatriates</title>
</head>

<body>

<%= require('html-loader!../partials/header.html') %>
<!-- MAIN CONTENT start -->
<div class="main_content bg-darker">
	<!-- PLACE AN AD TOP start -->
	<div class="page_section place_ad__hero">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-5 col-md-4">
					<!-- PLACE AN AD TITLE start -->
					<div class="place_ad_title">
                            <span class="icon-rounded bg-primary">
                                <i class="exp-icon-noun_594741_cc"></i>
                            </span>
						Place A Free Ad
					</div>
					<!-- PLACE AN AD TITLE end -->

				</div>
				<div class="col-sm-7 col-md-8">
					<div class="steps_list__ordered">
						<ul>
							<li class="active">
								<a href="#">1</a>
							</li>
							<li>
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- PLACE AN AD TOP ends -->
	<div class="page_section select_category">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="white_box__title">Please Select a Category</h3>
				</div>
			</div>
			<!-- CATEGORIES  -->
			<div class="row">
				<div class="col-md-6">
					<div class="categories_wrap">
						<!-- ONE CAT -->
						<div class="white_box category_box category_main">
							<!-- CAT HEADING -->
							<div class="box_header">
								<div class="box_title">
									Buy/Sell
									<i class="exp-icon-noun_950444_cc"></i>
								</div>
							</div>
							<!-- CAT INNER -->
							<div class="box_content">
								<ul class="data-ul">
									<li><a href="#">I would like to sell something</a></li>
									<li><a href="#">I would like to buy something</a></li>
								</ul>
							</div>
						</div>
						<!-- ONE CAT -->
						<div class="white_box category_box category_main">
							<!-- CAT HEADING -->
							<div class="box_header">
								<div class="box_title">
									Jobs
									<i class="exp-icon-noun_936099_cc"></i>
								</div>
							</div>
							<!-- CAT INNER -->
							<div class="box_content">
								<ul class="data-ul">
									<li><a href="#">I am offering a job</a></li>
									<li><a href="#">I am looking for a job</a></li>
								</ul>
							</div>
						</div>
						<!-- ONE CAT -->
						<div class="white_box category_box category_main">
							<!-- CAT HEADING -->
							<div class="box_header">
								<div class="box_title">
									Community
									<i class="exp-icon-noun_1049245_cc"></i>
								</div>
							</div>
							<!-- CAT INNER -->
							<div class="box_content">
								<ul class="data-ul">
									<li><a href="#">I am seeking other artists</a></li>
									<li><a href="#">I am placing an ad regarding the community in general</a></li>
									<li><a href="#">I am placing an ad regarding local news</a></li>
									<li><a href="#">I am placing an ad regarding local news</a></li>
									<li><a href="#">I have lost or found something</a></li>
									<li><a href="#">I am looking for music or musicians</a></li>

									<li><a href="#">I am placing an ad regarding pets</a></li>

									<li><a href="#">I am looking to share a ride</a></li>

									<li><a href="#">I am looking for sports partners</a></li>

									<li><a href="#">I would like to announce an event</a></li>

								</ul>
							</div>
						</div>
						<!-- ONE CAT -->
						<div class="white_box category_box category_main">
							<!-- CAT HEADING -->
							<div class="box_header">
								<div class="box_title">
									Matrimonials
									<i class="exp-icon-noun_1092228_cc"></i>
								</div>
							</div>
							<!-- CAT INNER -->
							<div class="box_content">
								<ul class="data-ul">
									<li><a href="#">I am seeking a bride</a></li>
									<li><a href="#">I am seeking a groom</a></li>
								</ul>
							</div>
						</div>

					</div>
				</div>
				<div class="col-md-6">
					<!-- ONE CAT -->
					<div class="white_box category_box category_main">
						<!-- CAT HEADING -->
						<div class="box_header">
							<div class="box_title">
								Housing
								<i class="exp-icon-noun_860650_cc"></i>
							</div>
						</div>
						<!-- CAT INNER -->
						<div class="box_content">
							<ul class="data-ul">
								<li><a href="#">I am looking for housing</a></li>
								<li><a href="#">I am offering housing (or selling real estate)</a></li>
								<li><a href="#">I would like to exchange my house or apartment/flat</a></li>

							</ul>
						</div>
					</div>
					<!-- ONE CAT -->
					<div class="white_box category_box category_main">
						<!-- CAT HEADING -->
						<div class="box_header">
							<div class="box_title">
								Childcare
								<i class="exp-icon-noun_1103617_cc"></i>
							</div>
						</div>
						<!-- CAT INNER -->
						<div class="box_content">
							<ul class="data-ul">
								<li><a href="#">I am advertising a nursery school
								</a></li>
								<li><a href="#">I am offering a position as a nanny, au pair, baby sitter</a></li>
								<li><a href="#">I am looking for a position as a nanny, au pair, baby sitter</a></li>

							</ul>
						</div>
					</div>
					<!-- ONE CAT -->
					<div class="white_box category_box category_main">
						<!-- CAT HEADING -->
						<div class="box_header">
							<div class="box_title">
								Learning
								<i class="exp-icon-noun_707730_cc"></i>
							</div>
						</div>
						<!-- CAT INNER -->
						<div class="box_content">
							<ul class="data-ul">
								<li><a href="#">I would like to exchange languages

								</a></li>
								<li><a href="#">I am offering lessons</a></li>
								<li><a href="#">I am looking for lessons (languages, art, music, etc.)</a></li>

							</ul>
						</div>
					</div>
					<!-- ONE CAT -->
					<div class="white_box category_box category_main">
						<!-- CAT HEADING -->
						<div class="box_header">
							<div class="box_title">
								Business
								<i class="exp-icon-noun_407824_cc"></i>
							</div>
						</div>
						<!-- CAT INNER -->
						<div class="box_content">
							<ul class="data-ul">
								<li><a href="#">I am looking for a business partner
								</a></li>
								<li><a href="#">I would like to sell a business</a></li>
								<li><a href="#">I am looking to distribute whole sale products</a></li>

							</ul>
						</div>
					</div>
					<!-- ONE CAT -->
					<div class="white_box category_box category_main">
						<!-- CAT HEADING -->
						<div class="box_header">
							<div class="box_title">
								Services
								<i class="exp-icon-noun_1056269_cc"></i>
							</div>
						</div>
						<!-- CAT INNER -->
						<div class="box_content">
							<ul class="data-ul">
								<li><a href="#">I am offering a service
								</a></li>
								<li><a href="#">I am searching for a service</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<!-- MAIN CONTENT end -->
<%= require('html-loader!../partials/footer.html') %>
<!-- build:js({.tmp/app,.tmp/partials,src}) scripts/app.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- inject:plugin:js -->
<!-- plugin js files will be automatically insert here -->
<!-- endinject -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->
<!-- endbuild -->

</body>

</html>
