<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-15" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Premium / Expatriates</title>
  </head>
  <body>
    <%= require('html-loader!../partials/header.html') %>
    <!-- MAIN CONTENT start -->
    <div class="main_content bg-darker premium-ad">
      <div class="page_header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="page_header__title">
                <span
                  class="bg-success img-circle icon-rounded icon-rounded-small"
                  ><i class="exp-icon-noun_430013_cc"></i
                ></span>
                Premium Ad
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div class="page_section">
        <div class="container-fluid">
          <div class="white_box">
            <div class="box_header">
              <a class="back_btn" href="#">Back<i class="exp-icon-left"></i></a>
            </div>
            <div class="box_content">
              <div class="row">
                <div class="col-xs-12">
                  <div class="box_content__header">
                    <h4 class="box_content__title">
                      Premium ads appear at the top of the list for up to 180
                      days
                    </h4>
                    <div>
                      <a href="#" class="text-primary"
                        >Please activate your ad first!</a
                      >
                    </div>
                  </div>
                  <div class="box_content__inner">
                    <form name="activatePremium">
                      <div class="row">
                        <div class="col-sm-8 left-hand">
                          <div class="form-group required">
                            <label for="pAmmount"
                              ><span>Payment amount</span></label
                            >
                            <select
                              name="pAmmount"
                              id="pAmmount"
                              class="form-control"
                              style="width: 100%;"
                            >
                              <option value="10">$10.00</option>
                              <option value="25">$25.00</option>
                              <option value="50">$50.00</option>
                            </select>
                          </div>
                          <div class="form-group required">
                            <label for="dNumber">Number of days</label>
                            <p class="help-block">
                              Please enter the number of days to publish your
                              ad. <br />
                              Do not enter decimal values
                            </p>
                            <input
                              id="dNumber"
                              name="dNumber"
                              type="text"
                              class="form-control"
                              value="10"
                            />
                          </div>
                        </div>
                        <div class="col-sm-4 right-hand">
                          <div class="result_box">
                            <label>Daily rate: $10</label>
                            <p class="help-block">
                              The higher the daily rate the higher the Ad will
                              appear on the list
                            </p>
                          </div>
                          <div class="result_box">
                            <label class="result_box__title"
                              >Discount: ($0.00)</label
                            >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12 text-right">
                          <div class="final_amount">
                            <label class="result_box__title">
                              Final amount: $10.00
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group actions-group">
                            <div class="row">
                              <div class="col-xs-6">
                                <button
                                  type="button"
                                  class="btn btn-lg btn-block btn-default"
                                  data-dismiss="modal"
                                >
                                  Cancel
                                </button>
                              </div>
                              <div class="col-xs-6">
                                <button
                                  type="button"
                                  class="btn btn-lg btn-block btn-primary"
                                >
                                  Buy Now
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MAIN CONTENT end -->
    <%= require('html-loader!../partials/footer.html') %>
  </body>
</html>
