<!-- MAIN HEADER -->
<header class="main-header clearfix">
    <!-- Overlay -->
    <div class="dark-overlay"></div>
    <div class="container-fluid">
        <a href="/" class="menu_toggler">
            <span class="line top"></span>
            <span class="line mid"></span>
            <span class="line bot"></span>
        </a>
        <h2 class="logo">
            <a href="/">
                <span class="logo_icon"> </span>
                <span class="logo_top">expatriates.com</span>
                <span class="logo_bot">The online community for expatriates</span>
            </a>
        </h2>
        <nav id="menu" class="main-nav desktop-nav">
            <ul>
                <li class="logo-in-nav">
                    <h2 class="logo">
                        <a href="/">
                            <span class="logo_icon"> </span>
                            <span class="logo_top">expatriates.com</span>
                            <span class="logo_bot"
                            >The online community for expatriates</span
                            >
                        </a>
                    </h2>
                </li>
                <li>
                    <a href="/"><i class="nav_icon exp-icon-home"></i>Home</a>
                </li>
                <li>
                    <a href="/scripts/posting/subscribe.epl">
                        <i class="nav_icon exp-icon-letter"></i> Subscribe
                    </a>
                </li>
                <li>
                    <a href="/html/contactus.html"
                    ><i class="nav_icon exp-icon-letter"></i>Contact Us</a
                    >
                </li>
                <li>
                    <a href="#"><i class="nav_icon icon-signin"></i>Sign In</a>
                </li>
                <!-- <li>
                                <a href="#"><i class="nav_icon icon-myprofile"></i>My Profile</a>
                        </li>
                        <li>
                                <a href="#"><i class="nav_icon icon-signout"></i>Sign Out</a>
                        </li> -->
                <li class="btn_li">
                    <a
                            href="/cgi-local/placead/index.pl"
                            class="btn btn-primary btn-block btn-with-icon icon-on-left"
                    ><i class="exp-icon-plus_rounded"></i>Place an Ad</a
                    >
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- MAIN HEADER ends -->
