<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="ISO-8859-15" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>expatriates.com - the online community for expatriates</title>
  </head>
  <body>
    <%= require('html-loader!./partials/header.html') %>

    <!-- MAIN CONTENT starts -->
    <div class="main_content">
      <!-- APP DOWNLOAD -->
      <div
        class="page_section bg-darker"
        style="min-height: 50vh;padding: 40px 0;"
      >
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div>
                <h2 class="mb-30">Pages</h2>
              </div>
              <ol>
                <li><a href="/home-page.html">Homepage</a></li>
                <li><a href="/profile-page.html">Profile</a></li>
                <li><a href="/region-page.html">Region</a></li>
                <li><a href="/search-page.html">Search</a></li>
                <li><a href="/create_ad-page0.html">Create Ad (page 0)</a></li>
                <li><a href="/create_ad-page1.html">Create Ad (page 1)</a></li>
                <li><a href="/create_ad-page2.html">Create Ad (page 2)</a></li>
                <li><a href="/create_ad-page3.html">Create Ad (page 3)</a></li>
                <li><a href="/single_ad-page.html">Single Ad</a></li>
                <li>
                  <a href="/single_ad__modify-page.html">Single Ad Modify</a>
                </li>
                <li><a href="/single_ad__own-page.html">Single Ad Own</a></li>
                <li>
                  <a href="/single_ad__premium-page.html">Single Ad Premium</a>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- APP DOWNLOAD ends -->
    </div>
    <!-- MAIN CONTENT ends -->

    <%= require('html-loader!./partials/footer.html') %>
  </body>
</html>
