$dark-blue: #2e3747;
$medium-blue: #4a5871;
$text-gray: #a7a7a7;
$light-green: #00a651;
$dark-green: #007236;
$gray-bg: #eeeeee;

$passive-blue: #728799;
$fb-color: #3b5998;
$gmail-color: #d74937;


$chmm-blue: #002366;
$border-color: #cecece;
$bgcolor-level1: #9a5f4c;
$bgcolor-level2: #e2a38e;
$bgcolor-level3: #f5f5f5;

$brand-success: #23b89a;
$brand-primary: #0192d6;
