.left_sidebar {
    width: 70px;
    background-color: $gray-bg;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    border-right: 1px solid #e0e0e0;
    @media(max-width: 991px) {
        width: 100%;
        height: 60px;
        position: static;
        border: none;
    }
}

.app_logo {
    display: block;
    height: 85px;
    background-image: url(/images//Checkmate_CMYK.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    @media(max-width: 991px) {
       width: 60px;
       height: 60px;
       background-size: 75%;
    }
}

.logo_h1 {
    margin: 0;
    @media(max-width: 991px) {
        position: absolute;
    }
}

nav {
    > ul {
        list-style-type: none;
        text-align: center;
        margin: 0;
        padding: 0;
        @media(max-width: 991px) {
            width: 100%;
        }
        > li {
            display: block;
            padding: 5px 0px;
            @media(max-width: 991px) {
                display: inline-block;
                vertical-align: middle;
                padding: 12px 0px;
                margin: 0 5px;
            }
            > a {
                width: 46px;
                height: 46px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                border-radius: 4px;
                position: relative;
                @include transition(0.25s all);
                @media(max-width: 991px) {
                    width: 36px;
                    height: 36px;
                }
                .svg_fill_blue {
                    fill: $dark-blue;
                    @include transition(0.25s all);
                }
                &:hover {
                    background-color: darken($border-color, 4%);
                    .one_dot {
                        // background-color: #fff;
                    }
                    .svg_fill_blue {
                        // fill: #fff;
                    }
                }
            }
            &.picked {
                > a {
                    background-color: rgba(46, 55, 71, 0.2);
                }
            }
            &.active {
                > a {
                    background-color: $dark-blue;
                    .one_dot {
                        background-color: #fff;
                    }
                    .svg_fill_blue {
                        fill: #fff;
                    }
                }
            }
            &.method_step {
                .dots {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    @include translate(-50%, -50%);
                    width: 100%;
                    font-size: 0;
                }
                .one_dot {
                    width: 6px;
                    height: 6px;
                    margin: 0 2px;
                    background-color: $dark-blue;
                    border-radius: 50%;
                    display: inline-block;
                    vertical-align: middle;
                    @media(max-width: 991px) {
                        width: 5px;
                        height: 5px;
                    }
                }
            }
            svg {
                position: absolute;
                left: 50%;
                top: 50%;
                @include translate(-50%, -50%);
            }
        }
    }
    .nav_drop {
        padding: 10px 0px;
        display: none;
        ul {
            list-style-type: none;
            padding: 0;
            li {
                a {
                    padding: 10px 0px;
                    display: block;
                }
            }
        }
    }
}