.region_page {
  .page_hero {
    .container-fluid {
      max-width: 970px;
    }
    &:before {
      background-color: #303132;
    }
    padding: 30px 0;
    background-image: none;
  }

  .form_wrap {
    @media(min-width: 768px) {
      background-color: #595a5b;
    }
  }

  .browse_categories {
    padding-top: 35px;
    .page_section__title {
      margin-bottom: 25px;
    }
  }

  .exp_breadcrumb {
    background-color: #f9f9f9;
  }
}

.region__sub_locations {
  margin-bottom: 50px;
  .btn {
    border-radius: 100px;
    color: #3c2fd3;
    font-size: 14px;
    padding: 0 15px;
    border: none;
    background-color: #f1f1f1;
    line-height: 35px;
    @media(min-width: $screen-xs) {
      padding: 0 18px;
      font-size: 16px;
      line-height: 40px;
    }
    &:hover {
      background-color: darken(#f1f1f1, 3%);
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
}