.single_ad {
  position: relative;
  line-height: 1.65;

  .white_box {
    padding: 15px;
    position: relative;
  }

  .slider-wrapper {
    position: relative;
    margin: -15px -15px 0 -15px;
    min-height: 100px;

    .owl-dots {
      font-size: 0;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      padding: 12px 0;
      text-align: center;
      @media(max-width: $screen-xs-max) {
        display: none;
      }
      .owl-dot {
        width: 14px;
        height: 14px;
        background-color: #eeeeee;
        display: inline-block;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        margin-left: 5px;
        margin-right: 5px;
        cursor: pointer;
        img {
          display: none;
        }
        &.active {
          border-color: $brand-primary;
          background-color: $brand-primary;
        }
      }
      @media (min-width: $screen-sm) {
        position: static;
        height: auto;
        margin-top: 12px;
        text-align: left;
        background-color: transparent;
        padding: 0;
        .owl-dot {
          margin-left: auto;
          vertical-align: top;
          margin-right: 12px;
          box-shadow: none;
          height: auto;
          width: calc((100% - 12px) / 2);
          background-color: #ccc;
          margin-bottom: 12px;
          border: none;
          border-radius: 0;
          padding: 0;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: 4px solid transparent;
          }
          img {
            display: block;
          }
          &:nth-child(2n) {
            margin-right: 0;
          }
          &.active {
            &:after {
              border-color: #348fdb;
            }
          }
        }
      }

      @media(min-width: $screen-md) {
        .owl-dot {
          width: calc((100% - 24px) / 3);
          &:nth-child(2n) {
            margin-right: 12px;
          }
          &:nth-child(3n) {
            margin-right: 0;
          }
        }

      }
    }

    > div:not(.modal) {
      @include scale(1);
      @include transition(0.23s all);
    }

    &.is-loading {
      max-height: 300px;
      > div:not(.modal) {
        opacity: 0;
        visibility: hidden;
        @include scale(0.95);
      }

      &:after {
        content: 'Loading...';
        top: 15px;
        left: 15px;
        color: #000;
        position: absolute;
        z-index: 2;
      }
    }
  }

  .single_ad__box {
    padding: 0;
  }

  .single_ad__descr {
    font-weight: 300;
  }

  .author_info {
    padding: 20px 0;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    font-size: 14px;
    margin-top: 20px;
    .usr_pic {
      @media(min-width: 1200px) {
        margin-right: 7px;
        display: inline-block;
        margin-bottom: 0;
      }
    }
    .author_col {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1 0 100%;
      -webkit-flex: 1 0 100%;
      max-width: 100%;
      margin-bottom: 25px;
      text-align: center;
      @media(min-width: $screen-lg) {
        margin-bottom: 0;
        text-align: left;
        flex: 1 0 0;
        -webkit-flex: 1 0 0;
      }
    }
    .actions_col {
      .flex-row {
        margin: 0 -5px;
        flex-wrap: wrap;
        -ms-flex-wrap: wrap;
      }
      .col {
        padding: 0 5px;
        -ms-flex-preferred-size: 0;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        .btn {
          font-weight: 500;
          line-height: 44px;
          border: none;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        & + .col .btn {
          margin-top: 10px;
        }
      }
    }

    @media(min-width: $screen-xs) {

      .actions_col {
        .col {
          max-width: 50%;
          flex-basis: 50%;
          & + .col .btn {
            margin-top: 0;
          }
        }
      }
    }

    @media(min-width: $screen-sm) {

      .actions_col {
        .col {
          max-width: 100%;
          flex-basis: 100%;
          & + .col .btn {
            margin-top: 10px;
          }
        }
      }
    }

    @media(min-width: $screen-md) {

      margin-top: 40px;

    }

    @media(min-width: $screen-lg) {
      .actions_col {
        .flex-row {
          justify-content: flex-end;
          flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;

        }
        .col {
          max-width: 100%;
          flex-basis: 0;
          -webkit-box-flex: 0;
          flex-grow: 0;
          & + .col .btn {
            margin-top: 0;
          }
        }
      }
      .btn {
        width: auto;
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        & + .btn {
          margin-left: 5px;
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }

  }

  .single_ad__info {
    margin-top: 20px;
    .info_ul {
      color: #686868;
      a, span {
        margin-left: 2px;
        display: block;
        margin-top: 5px;
      }
      li {
        margin-bottom: 10px;
        padding-left: 25px;
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
        i {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 20px;
          color: #9c9c9c;
        }
      }
    }
    .col {
      @media(max-width: 1100px) {
        flex: 1 0 100%;
        -webkit-flex: 1 0 100%;
        max-width: 100%;
      }
    }

    @media(min-width: $screen-xs) {
      .info_ul {
        a, span {
          display: inline;
          margin-top: 0;
        }
        li {
          i {
            top: 50%;
            @include translate(0, -50%);
          }
        }
      }
    }
  }

  .single_ad__social {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #d6d6d6;
    margin-top: 20px;
    margin-bottom: 10px;

    li {
      display: inline-block;
      vertical-align: middle;
      margin: 0 1px;
      &.text_li {
        margin-right: 5px;
        @media(max-width: 1100px) {
          display: block;
          margin-bottom: 10px;
        }
      }
      a {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #fff;
        display: block;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          @include transition(0.17s all);
          border-radius: 50%;
        }
        i {
          font-size: 20px;
          position: absolute;
          @include translate(-50%, -50%);
          top: 50%;
          left: 50%;
          z-index: 1;
        }
        &.fb_bg {
          &:hover {
            &:before {
              @include scale(1.1);
            }
          }
          &:before {
            background-color: #2a519c;
          }
        }
        &.tw_bg {
          &:hover {
            &:before {
              @include scale(1.1);
            }
          }
          &:before {
            background-color: #32b2e9;
          }
        }
        &.in_bg {
          &:hover {
            &:before {
              @include scale(1.1);
            }
          }
          &:before {
            background-color: #1270a0;
          }
        }
        &.msg_bg {
          &:hover {
            &:before {
              @include scale(1.1);
            }
          }
          &:before {
            background-color: #3491db;
          }
        }
        &.pint_bg {
          &:hover {
            &:before {
              @include scale(1.1);
            }
          }
          &:before {
            background-color: #cb2229;
          }
        }
      }
    }
  }

  @media(min-width: $screen-xs) {
    line-height: 1.75;
    .slider-wrapper {
      padding: 0;
      margin: 0;
    }
  }

  @media(min-width: $screen-sm) {
    .slider_column {
      padding-right: 10px;
    }
    .right_column {
      margin-top: 0;
      float: left;
      padding-left: 10px;
    }
    .slider-wrapper {
      padding: 0;
      padding-bottom: 15px;
    }
    .single_ad__social {
      margin-bottom: 20px;
    }
    .single_ad__actions {
      ul {
        .button {
          min-height: 60px;
        }
      }
    }
  }

  @media(min-width: $screen-md) {
    .slider_column {
      min-height: 400px;
    }
    .white_box {
      padding: 20px;
      padding-bottom: 30px;
    }
  }

  @media(min-width: 1100px) {
    .single_ad__social {
      text-align: unset;
      border: none;
      margin: 0;
      padding: 0;
    }
  }

}

.single_ad__slider {

  .owl-nav {
    overflow: hidden;
    > div {
      position: absolute;
      top: 0;
      width: 40px;
      height: 100%;
      color: #fff;
      font-size: 32px;
      cursor: pointer;
      z-index: 10;
      @include transition(0.27s background-color);
      &.owl-prev {
        left: 0;
      }
      &.owl-next {
        right: 0;
      }
      i {
        position: absolute;
        left: 50%;
        top: 50%;
        @include translate(-50%, -50%);
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
      }
      @media(min-width: $screen-xs) {
        font-size: 36px;
      }
      @media(min-width: $screen-md) {
        font-size: 40px;
        width: 50px;
      }
      &.disabled {
        display: none;
      }
    }
  }

  .owl-item {
    text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scaleZ(1);
    a {
      &:hover, &:focus {
        outline: 0;
      }
    }
  }

  &:hover {
    .owl-nav {
      > div {
        //&.owl-prev {
        //  left: 0;
        //}
        //&.owl-next {
        //  right: 0;
        //}
      }
    }
  }
}

.single_ad__controls {
  padding: 15px 0;
  text-align: right;
  font-size: 0;
  .btn {
    min-width: 0;
    width: calc((100% - 15px) / 2);
    &.icon-on-left {
      padding-right: 12px !important;
    }
    &.icon-on-right {
      padding-left: 12px !important;
    }
    & + .btn {
      margin-left: 15px;
    }
  }

  @media(min-width: $screen-xs) {
    padding: 25px 0;
    .btn {
      font-size: 16px;
      width: auto;
      min-width: 170px;
      line-height: 44px;
    }
  }

}

.single_ad__box {
  padding: 15px;
  @include clearfix;
  .prom_icon {
    position: absolute;
    top: -12px;
    left: 0;
    color: #23b89a;
    font-size: 53px;
    line-height: 1;
  }
  &.has_actions {
    .in_favorites {
      @media(max-width: $screen-xs-max) {
        top: -36px;
      }
    }
  }
}

.single_ad__title {
  font-size: 19px;
  color: #1e0fcc;
  font-weight: 700;
  @media(max-width: $screen-xs-max) {
    margin-top: 15px;
  }
  @media(min-width: $screen-sm) {
    padding-right: 90px;
  }

  //@media(max-width: $screen-xs - 1) {
  //  position: absolute;
  //  top: 0;
  //  background-color: rgba(0, 0, 0, 0.5);
  //  @include translate(0, -100%);
  //  padding: 15px;
  //  z-index: 10;
  //  left: 0;
  //  right: 0;
  //  color: #fff;
  //  text-shadow: 1px 1px 1px #000;
  //  font-size: 17px;
  //  margin-bottom: 0;
  //}
}

.single_ad__status {

  &.inactive {
    color: #ef4141;
  }
  &.active {
    color: #1e0fcc;
  }
  &.promoted {
    color: #23b89a;
  }

  .btn, .badge {
    height: 30px;
    padding: 0 1em;
    line-height: calc(30 / 14);
    font-size: 14px;
    font-weight: 400;
    min-width: 80px;
    border: none;
    border-radius: 100px;
  }

  .badge {
    background-color: #f1f1f1;
    color: #1e0fcc;
    display: none;
  }

  @media(min-width: $screen-sm) {
    float: right;
    .btn, .badge {
      max-height: 40px;
      border-radius: 100px;
    }
  }

}

.single_ad__thumb {
  position: relative;
  & + .single_ad__title {
    margin-top: 15px;
  }
  img {
    width: 100%;
  }
  @media(min-width: $screen-xs) {
    max-width: 190px;
    margin-right: 15px;
    float: left;
  }
}

.single_ad__details {
  color: rgba(0, 0, 0, 0.6);
  margin: 15px 0;
  p {
    margin-bottom: 5px;
  }
  > span {
    @media(max-width: 575px) {
      float: none !important;
      display: block;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  i {
    font-size: 20px;
    color: #b2b2b2;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 5px;
  }
  @media(min-width: $screen-sm) {
    margin: 15px 0 20px;
  }
  @media(min-width: $screen-md) {
    margin: 20px 0 25px;
  }
}

.single_ad__descr {
  color: rgba(0, 0, 0, 0.8);
  p {
    margin-bottom: 0;
  }
}

.single_ad___popup-slider {
  position: fixed;
  top: 44px;
  left: 0;
  right: 0;
  z-index: 99;
  padding-top: 15px;
  padding-bottom: 15px;
  visibility: hidden;
  opacity: 0;
  @include transition(0.27s all);
  @include translate(0, -10px);
  @media(min-width: 768px) {
    top: 87px;
    padding-top: 95px;
    padding-bottom: 30px;
  }
  .slider_wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    @media(min-width: 768px) {
      max-width: 580px;
    }
    @media(min-width: 992px) {
      max-width: 700px;
    }
  }
  .popup_content {
    // padding-top: 95px;
  }
  .author_info {
    background-color: #fff;
    margin-top: 0;
    padding: 25px 15px;
    @media(max-width: 767px) {
      padding-bottom: 0;
    }
  }
  &.open {
    visibility: visible;
    opacity: 1;
    @include translate(0, 0);
  }
  .close_popup {
    position: absolute;
    right: 5px;
    color: #fff;
    top: 0;
    font-size: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    line-height: 0;
    z-index: 999;
    width: 30px;
    height: 30px;
    padding: 0;
    @media(min-width: 768px) {
      right: -50px;
      top: -50px;
      font-size: 30px;
      background-color: transparent;
    }
  }
}

.own_ad {
  position: relative;
  .container-fluid {
    @media(min-width: $screen-sm) {
      padding-right: 73px;
    }
  }

  .single_ad__title {
    @media (max-width: $screen-sm - 1) {
      margin-top: 15px;
    }
    @media(min-width: $screen-xs) {
      margin-top: 0;
    }
  }

  .single_ad__status {
    float: right;
    @media(min-width: $screen-sm) {
      margin-right: -5px;
      margin-top: -5px;
    }
    @media(min-width: $screen-md) {
      margin-right: -15px;
      margin-top: -15px;
    }
  }

  .single_ad__actions {
    .single_ad__status {
      position: absolute;
      right: 0;
      top: 50%;
      padding: 0 5px;
      transform: translate(0, -50%);
    }
  }

  .single_ad {

    &.is-active {
      .single_ad__status {
        .btn {
          display: none;
        }
        .badge {
          display: inline-block;
        }
      }
    }
  }

  .info_ul {
    color: #000000;
    li {
      padding: 0;
      i {
        position: static;
        color: inherit;
        font-size: inherit;
        transform: none;
      }
    }
  }

}

.ads_slider_modal {

  .modal-dialog {
    width: auto;
    .fade & {
      transition: 0.15s transform;
      transform: scale(1) translateZ(0);
    }
    @media(min-width: $screen-sm) {
      max-width: 640px;
    }
    @media(min-width: $screen-md) {
      max-width: 700px;
    }
  }
  .modal-content {
    padding: 0;
  }
  .modal-body {
    padding: 0;
  }
  .modal-footer {
    padding: 25px 15px;
    border: none;
  }
  .slider_self {
    .owl-item {
      text-align: center;
    }
    .owl-nav {
      > div {
        position: absolute;
        top: 50%;
        @include translate(0, -50%);
        width: 40px;
        height: 100%;
        color: #fff;
        font-size: 36px;
        @media(min-width: $screen-sm) {
          top: 50%;
          width: 48px;
          height: 48px;
          background-color: rgba(255, 255, 255, 0.16);
          font-size: 32px;
        }
        @media(min-width: $screen-md) {
          width: 58px;
          height: 58px;
          font-size: 36px;
        }
        i {
          position: absolute;
          left: 50%;
          top: 50%;
          @include translate(-50%, -50%);
          text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
        }
        @media(min-width: $screen-sm) {
          &:hover {
            background-color: #05699b;
          }
        }
      }
      .owl-prev {
        left: 0;
        @media(min-width: 768px) {
          left: -48px;
        }
        @media(min-width: 992px) {
          left: -82px;
        }
      }
      .owl-next {
        right: 0;
        @media(min-width: 768px) {
          right: -48px;
        }
        @media(min-width: 992px) {
          right: -82px;
        }
      }
    }
  }
  .author_info {
    border: none;
    margin: 0;
    padding: 0;
    .btn + .btn {
      margin-bottom: 0;
    }
  }
  &.is-loading {
    &:after {
      content: 'Loading...';
      position: absolute;
      left: 50%;
      top: 50%;
      @include translate(-50%, -50%);
      color: #fff;
      display: inline-block;
    }
    .modal-dialog {
      visibility: hidden;
      opacity: 0;
      transform: scale(0.95) translateZ(0);

    }
  }

}